.container{
  --border-color:#ddd;
  --bg-color:#fff;
  --bg-gray-color:#F8F8F8;

  --layout-color:#333;
  --layout-font-size:14px;

  --primary-color:#F75193;
  --primary-color--bg:#FFF5F9;
  --primary-color--light:#FFC4DB;
  --primary-color--border:#FFC6DD;
  --gray-color:#999;
  --color:#333;
  &.gray{
   --bg-color:#F8F8F8;
  }
}