@import './var';
@import './reset';
@import './print';
@import './mixin';
@import './layout';
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--primary-color);
}
/* this rule will be remove */
* {
  transition: width 2s;
  -moz-transition: width 2s;
  -webkit-transition: width 2s;
  -o-transition: width 2s;
}
.lea-list{
  width:calc(100% - 20px);//相当于375px - 20px
  margin:10px auto;
  li {
    line-height: 1.5;
    &:not(:last-child) {
      border-bottom: 1px solid var(--border-color);
    }
  }
  ul{
    padding-left:10px;
  }
}